
/*************************** M a i n  -  C o n t a i n e r ***************************/

.add-facility-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.add-facility-container form {
    width: 60vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 3vw;
    padding-top: 3vw;
}

.form-sub-wrap {
    margin-top: 10vh;

    width: 60vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*************************** P h y s i c a l  -  D a t a ***************************/

.physical_data {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.physical_data input, select {
    outline-color: #40fcbc;
    border-style: none;
    padding-bottom: 0.5em;
    background-color: transparent;
    border-bottom: 2px solid #40fcbc;
}

.physical_data select {
    width: 100%;
}

/*************************** T i m e  -  D a t a ***************************/

.time_data {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_data input {
    outline-color: #40fcbc;
    border-style: none;
    padding-bottom: 0.5em;
    background-color: transparent;
    border-bottom: 2px solid #40fcbc; 
}


.submit_fac_butt {
    border-style: none;
    text-decoration: none;
    padding: 0.5em;
    width: 12em;
    height: 2em;
    background-color: #40fcbc;
    box-shadow: 0 0 5px #40fcbc; 
    border-radius: 100em;
    font-size: 1em;
}

.submit_fac_butt:hover {
    color: white;
    cursor: pointer;
}
#fac_response{
    color: rgba(255,0,0, .6);
    font-size: 0.75em;
    margin: 0.5em;
}

/*************************** M e d i a ***************************/

@media (max-width: 900px) {
    .add-facility-container form {
        width: 90vw;
    } 
}