.container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info{
    padding-left: 5em;
}

.input {
    position: relative;
    width: 12em; 
    margin: 1em; 
}
.input label{
    position: absolute;
    display: flex;
    align-items: center;
    height: 2em;
    right: 100%;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0.5em;
    font-weight: bold;
}
.input input{
    text-align: center;
    width: 100%; 
    height: 2em;
    margin: 0.5em;
    border-radius: 0.5em;
    border-color: #40fcbc;
    background-color: #cecece;
    box-shadow: 0 0 10px #40fcbc;
}
.input select{
    margin-left: 1em;
    width: 100%; 
    height: 2.5em;
    border-radius: 0.5em;
    border-color: #40fcbc;
    background-color: #cecece;
    box-shadow: 0 0 10px #40fcbc;
    
}
.open_hours {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
.open_hours label{
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
.open_hours input{
    width: 6em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    border-color: #40fcbc;
    background-color: #cecece;
    box-shadow: 0 0 10px #40fcbc;
}
.hours{
    text-align: right;
}
#edit_facility button{
    height: 2.5em;
    width: 12em;
    margin: 0.5em;
    border-radius: 2em;
    color: black;
    font-size: large;
    text-align: center;

    background-color: #40fcbc;
    border-style: none;

    cursor: pointer;
}
#edit_facility button:hover{
    color: white;
}
#ChangeFacilityInfoText{
    color: rgba(0,0,0, .6);
    font-size: 2em;
    margin-bottom: 1em;
}