
.navbar{
    display: none;
}
.login-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;


}

.login-container input{
    text-align: center;
    width: 15em;
    height: 2.5em;

    margin: 0.5em;

    border-radius: 0.5em;
    border-color: #40fcbc;
    background-color: #cecece;
    box-shadow: 0 0 10px #40fcbc; 
}
#LogInText{
    color: rgba(0,0,0, .6);
    font-size: 2em;
    margin-bottom: 1em;
}
#submit_login button {
    height: 2.5em;
    width: 6em;
    margin: 0.5em;
    margin-top: 1.5em;

    border-radius: 2em;
    color: black;
    font-size: large;
    text-align: center;

    background-color: #40fcbc;
    border-style: none;

    cursor: pointer;
}
#submit_login button:hover {
    color: white;
}
#login_response{
    color: rgba(255,0,0, .6);
    font-size: 0.75em;
    margin: 0.5em;
}
.register button{
    height: 2.5em;
    width: 12em;
    margin: 0.5em;
    border-radius: 2em;
    color: black;
    font-size: large;
    text-align: center;

    background-color: #40fcbc;
    border-style: none;

    cursor: pointer;
}

.register button:hover{
    color: white;
}

