.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}
.container input{
    text-align: center;
    width: 15em;
    height: 2.5em;

    margin: 0.5em;

    border-radius: 0.5em;
    border-color: #40fcbc;
    background-color: #cecece;
    box-shadow: 0 0 10px #40fcbc; 
}
.container div{
    color: rgba(0,0,0, .6);
    font-size: 2em;
    margin: 0.5em;
    font-weight: bold;
}
.container button{
    height: 2.5em;
    width: 12em;
    margin: 0.5em;
    margin-top: 1em;

    border-radius: 2em;
    color: black;
    font-size: large;
    text-align: center;

    background-color: #40fcbc;
    border-style: none;

    cursor: pointer;
}
.container button:hover{
    color: white;
}
.container h1{
    color: rgba(0,0,0, .6);
    margin: 0.5em;
    font-size: 1.5em;
} 
#SignUpText{
    color: rgba(0,0,0, .6);
    font-size: 2.5em;
    margin-bottom: 1em;
}
#register_response{
    color: rgba(255,0,0, .6);
    font-size: 0.75em;
    margin: 0.5em;
}