:root { /* NOT USED AT ALL, to be changed later on */
    --primary_color: rgb(0, 0, 0);
    --primary_bg_color: rgb(182, 178, 189);
    --secondary_color: rgb(200, 200, 200);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;

    overflow-x: hidden;

}


/*************** N A V B A R - universal ***************/

.navbar {
    width: 100vw;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: #40fcbc;
}
.navbar a {
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar a:hover {
    color: rgb(255, 255, 255);
}

/* responsivity */

.navbar .icon {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    display: none;
    color: #000000;
}

@media screen and (max-width: 900px) {
    .navbar .options {
        display: none;
    }
    .navbar .icon {
        display: flex;
        margin-right: 5%;
    }
    .navbar .icon a {
        font-size: 48px;
    }
}
  
@media screen and (max-width: 900px) {
    .navbar.responsive .options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;        
        position: absolute;
        top: 100%;
        width: 100vw;
        height: auto;
    }
    .navbar.responsive .options a {
        display: block;
        width: 90vw;
        height: auto;
        border-radius: 100em;
        border-bottom: 2px solid #40fcbc;
        background-color: rgba(163, 163, 163, 1);
    }
}

/*************** F O O T E R ***************/


footer {
    width: 100vw;
    height: 20vh;
    margin-top: 3vh;
    padding: 1vw;

    background-color: #969696;

    text-align: center;
    font-size: large;
    color: #000000;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer div {
    min-width: 10vw;
    max-width: 20vw;
    max-height: 20vh;   
}
.logo img{
    max-width:25%;

    object-fit: contain
}
