{% extends 'layout.html' %}

{% block title %}Add Facility{% endblock %}


{% block content %}

<!-- Edit content here -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add_facility.css') }}" />

<div class="add-facility-container">
    <form id="submit_facility" action="/add_facility" method="POST" enctype="multipart/form-data">
        <!-- Physical Data -->
        <div class="physical_data">
            <input type="text" name="name" required>
            <label for="name">Facility Name</label>
            <br>
            <br>
            <input type="text" name="description" required>
            <label for="description">Description</label>
            <br>
            <br>
            <input type="number" name="price_hourly" required>
            <label for="price_hourly">Price for lease per hour</label>
            <br>
            <br>
            <select name="id_facility_type" required>
                {% for d in data %}
                    <option value="{{ d.id_facility_type }}"> {{ d.name }} </option>
                {% endfor %}
            </select>
            <label for="facility_type">Facility type</label>
            <br>
            <br>
            <input type="text" name="city" required>
            <label for="city">City</label>
            <br>
            <br>
            <input type="text" name="state" required>
            <label for="state">State</label>
            <br>
            <br>
            <input type="text" name="street_name" required>
            <label for="street_name">Street</label>
            <br>
            <br>
            <input type="number" name="building_number" required>
            <label for="building_number">Building number</label>
            <br>
            <br>
            <input type="text" name="postal_code" required>
            <label for="postal_code">Postal code</label>
            <br>
            <br>
        </div>
        <!-- Time Data -->
        <div class="time_data">
            <label for="time_open">Open hours:</label><br>
            <div>
                from<input type="time" name="monday_start" step="1800" required>
                to<input type="time" name="monday_end" step="1800" required>
            </div>
            <label for="monday">Monday</label>
            <br>
            <br>
            <div>
                from<input type="time" name="tuesday_start" step="1800" required>
                to<input type="time" name="tuesday_end" step="1800" required>
            </div>
            <label for="tuesday">Thuesday</label>
            <br>
            <br>
            <div>
                from<input type="time" name="wednesday_start" step="1800" required>
                to<input type="time" name="wednesday_end" step="1800" required>
            </div>
            <label for="wednesday">Wednesday</label>
            <br>
            <br>
            <div>
                from<input type="time" name="thursday_start" step="1800" required>
                to<input type="time" name="thursday_end" step="1800" required>
            </div>
            <label for="thursday">Thursday</label>
            <br>
            <br>
            <div>
                from<input type="time" name="friday_start" step="1800" required>
                to<input type="time" name="friday_end" step="1800" required>
            </div>
            <label for="friday">Friday</label>
            <br>
            <br>
            <div>
                from<input type="time" name="saturday_start" step="1800" required>
                to<input type="time" name="saturday_end" step="1800" required>
            </div>
            <label for="saturday">Saturday</label>
            <br>
            <br>
            <div>
                from<input type="time" name="sunday_start" step="1800" required>
                to<input type="time" name="sunday_end" step="1800" required>
            </div>
            <label for="sunday">Sunday</label>
            <br>
            <br>
            <label for="files">Add image:</label>
            <input type="file" name="files" accept=".jpg, .jpeg, .png, .gif" multiple required>
            <br>
            <br>

            <input id="submit_facility" type="submit" value="Add facility"></input>
        </div>
    </form>
</div>


<h1 id="fac_response"></h1>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
