{% extends 'layout.html' %}

{% block title %}Admin Panel{% endblock %}


{% block content %}

<!-- Edit content here -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" />

<div class="admin-container">
    <h1 id="AdminPanelText">ADMIN PANEL</h1>
    <br>

    <a href="/add_facility">Add Facility</a>
    <br>
    <a href="/edit_site">Edit Site </a>
    <br>
    <a href="/curr_reservations">View Current Reservations</a>
    <br>

</div>


{% endblock %}
