{% extends 'layout.html' %}

{% block title %}Current Reservations{% endblock %}


{% block content %}

<!-- Edit content here -->

<div class="container">
    <ul id="reservation_list">

        {% set statuses = {'Pending': 2, 'Confirmed': 3, 'Finished': 1} %}

        {% for status_name, status_id in statuses.items() %}
        <h2>{{ status_name }}</h2>
        {% for d in data %}
            {% if d['status']['id_reservation_status'] == status_id %}
            <li>
                {% for key, value in d.items() %}
                    {% if key not in ['user', 'facility'] %}
                        <strong>{{ key }}:</strong> {{ value }}<br>
                    {% endif %}

                    {% if key == 'user' %}
                        <strong>{{ key }}:</strong> {{ value['id_user'] }}<br>
                        <strong>{{ key }}:</strong> {{ value['email'] }}<br>
                    {% endif %}

                    {% if key == 'facility' %}
                        <strong>{{ key }}:</strong> {{ value }}<br>
                    {% endif %}
                {% endfor %}

                {% if status_id in [2, 3] and d['date']|string_to_datetime > curr_date %}
                    <button>Cancel Reservation</button>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>


{% endblock %}
