{% extends 'layout.html' %}

{% block title %}Edit Site{% endblock %}


{% block content %}

<!-- Edit content here -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_site.css') }}" />
<div class="container">
    <h1 id="ChangeFacilityInfoText">EDIT INFORMATIONS</h1>
    <form action="edit_site" method="POST" id="info" enctype="multipart/form-data">
        <div class="input">
        <label for="name">Facility name</label>
        <input type="text" name="name" value="{{ footer_data[0].name }}">
        </div>
        <div class="input">
        <label for="description">NIP</label>
        <input type="text" name="nip" value="{{ footer_data[0].nip }}">
        </div>
        <div class="input">
        <label for="description">Phone number</label>
        <input type="text" name="phone_number" value="{{ footer_data[0].phone_number }}">
        </div>
        <div class="input"> 
        <label for="city">City</label>
        <input type="text" name="city" value="{{ footer_data[0].address.city.name }}">
        </div>
        <div class="input">
        <label for="state">State</label>
        <input type="text" name="state" value="{{ footer_data[0].address.state.name }}">
        </div>  
        <div class="input">
        <label for="street_name">Street</label>
        <input type="text" name="street_name" value="{{ footer_data[0].address.street_name }}">
        </div>
        <div class="input">
        <label for="building_number">Building number</label>
        <input type="number" name="building_number" value="{{ footer_data[0].address.building_number }}">
        </div>
        <div class="input">
        <label for="postal_code">Zip code</label>
        <input type="text" name="postal_code" value="{{ footer_data[0].address.postal_code }}">
        </div>
        <br>
        <label for="file">Logo editing:</label><br>
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <br>
        <br>
        <button id="submit_edit" type="submit">Edit informations</button>
    </form>
    <br><br>

    <h1 id="edit_site_response"></h1>
</div>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
