{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<!-- Edit content here -->

<div class="container">
    <div>
        <label for="search">Search Facilities:</label>
        <input type="text" id="search" oninput="performSearch()">
    </div>
    <div id="searchResults"></div>
    <ul id="facility_list">
        {% for d in data %}
        <li>
            {% for key, value in d.items() %} 

            {% if key == 'images' %}
            {% for img in value %}

            <img src="{{ url_for('static', filename='images/' + img.image_path) }}"> 

            {% endfor %}

            {% else %}
            {% if key != 'company' %}
            <strong>{{ key }}:</strong> {{ value }}<br>
            {% endif %}
            {% endif %}

            {% endfor %}
            {% if user_data.user_role.id_user_role == 2 %}
            <h1>Image Upload</h1>
            <form method="POST" action="/upload_facility_image" enctype="multipart/form-data">
                <input type="file" name="file" accept=".jpg, .jpeg, .png, .gif">
                <input type="submit" value="Upload">
                <input type="hidden" name="id_facility" value="{{d.id_facility}}">
            </form>
            <form method="GET" action="/edit_facility">
                <input type="submit" value="Edit">
                <input type="hidden" name="id_facility" value="{{d.id_facility}}">
            </form>
            <form method="POST" action="/delete_facility">
                <input type="submit" value="Delete">
                <input type="hidden" name="id_facility" value="{{d.id_facility}}">
            </form>
            <br><br>
            <div>RESERVE</div>
            {% endif %}
 
        </li>     
        {% endfor %}
    </ul>
</div>


<script src="{{ url_for('static', filename='js/update_fac_list.js') }}"></script>


{% endblock %}
