<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='/images/logo.png') }}">
    <title>Facility Booking</title>
</head>


<body>
    {% if 'token' in session %}
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/my_account">My Account</a>
         {% if user_data.user_role.id_user_role == 2 %}
        <a href="/admin_panel">Admin Panel</a>
        {% endif %}
        <a href="/logout">logout</a>
    </nav>
    {% else %}
    <nav class="navbar">
        <a href="/login">login</a>
    </nav>
    {% endif %}

    <div class="main_content">
        {% block content %}{% endblock %}
    </div>

    {% if 'token' in session %}
    <footer class="footer">
        <div>
            Info about Owner/Company
            <br>
            {{ footer_data[0] }}
        </div>
    </footer>
    {% endif %}
</body>

</html>
