{% extends 'layout.html' %}

{% block title %}My Account{% endblock %}


{% block content %}

<!-- Edit content here -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_account.css') }}" /> -->


<div class="my-account-container">
    <div>PLACEHOLDER MY ACCOUNT</div>
    <br>

    <div>DISPLAY ACCOUNT INFO <br>
    <strong>Email:</strong>     {{ user_data.email }} <br><br> 
        <form action="/edit_account_info" method="POST">
        <label for="name">Imie:</label>
        <input type="text" name="name" value="{{ user_data.name }}">
        <br>
        <label for="description">Nazwisko:</label>
        <input type="text" name="lastname" value="{{ user_data.lastname }}">
        <br>
        <label for="description">Numer telefonu:</label>
        <input type="tel" name="phone_number" value="{{ user_data.phone_number }}">
        <br>
        <button id="submit_edit_account_info" type="submit">Edytuj swoje informacje</button>
        </form>
        <h1 id="edit_account_info_response"></h1>
    </div>

    <br>
    <a href="/reset_password">Reset Password</a>
    <br>
    
    <div>
        <br>
        <h1>RESERVATIONS</h1>
        <ul id="reservation_list">
            {% set statuses = {'Pending': 2, 'Confirmed': 3, 'Finished': 1} %}
    
            {% for status_name, status_id in statuses.items() %}
            <h2>{{ status_name }}</h2>
            {% for d in data['reservations'] %}
                {% if d['status']['id_reservation_status'] == status_id %}
                <li>
                    {% for key, value in d.items() %}
                        {% if key not in ['user', 'facility'] %}
                            <strong>{{ key }}:</strong> {{ value }}<br>
                        {% endif %}
    
                        {% if key == 'user' %}
                            <strong>{{ key }}:</strong> {{ value['id_user'] }}<br>
                            <strong>{{ key }}:</strong> {{ value['email'] }}<br>
                        {% endif %}
    
                        {% if key == 'facility' %}
                            <strong>{{ key }}:</strong> {{ value }}<br>
                        {% endif %}
                    {% endfor %}
    
                    {% if status_id in [2, 3] and d['date']|string_to_datetime > curr_date %}
                        <button>Cancel Reservation</button>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
    </div>

    <br>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
