{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}


{% block content %}

<!-- Edit content here -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset_password.css') }}" />
<div class="container">
    <h1 id="ResetText">RESET PASSWORD</h1>
    <form action="reset_password" method="POST" id="submit_password_reset">
        <input type="password" name="old_password" required placeholder="current password">
        <br>
        <input type="password" name="new_password" required placeholder="new password">
        <br>
        <input type="password" name="repeat_password" required placeholder="repeat password">
        <br>
        <h1 id="password_reset_response"></h1>
        <button type="submit">Reset password</button>
    </form>
</div>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
