{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}


{% block content %}

<!-- Edit content here -->

<div class="container">
    <form action="reset_password" method="POST" id="submit_password_reset">
        <label for="name">Current password:</label>
        <input type="password" name="old_password" required>
        <br>
        <label for="name">New password:</label>
        <input type="password" name="new_password" required>
        <br>

        <label for="name">Repeat new password:</label>
        <input type="password" name="repeat_password" required>
        <br>
        <button type="submit">Reset password</button>
        <h1 id="password_reset_response"></h1>
    </form>
</div>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>


{% endblock %}
